<div class="container wrapper wrapper2">
  <div class="row">
    <div class="col-md-12">
      <h3>Soccer Player</h3>
      <div class="row">
        <label>Name: </label>
        <p>{{ soccerModel.name }}</p>
      </div>
      <div class="row">
        <label>Height: </label>
        <p>{{ soccerModel.height }}</p>
      </div>
      <div class="row">
        <label>Weight: </label>
        <p>{{ soccerModel.weight }}</p>
      </div>
      <div class="row">
        <label>Birthday: </label>
        <p>{{ soccerModel.birthday }}</p>
      </div>
      <div class="row">
        <label>Salary: </label>
        <p>{{ soccerModel.salary }}</p>
      </div>
    </div>
  </div>
</div>
